.m-0 {
  margin: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mr-1 {
  margin-right: 1em!important;
}

.mr-3 {
  margin-right: 3em!important;
}

.px-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.d-none {
  display: none!important;
  color: rebeccapurple!important;
}

@media (max-width: 978px) {
  .container-mobile {
    margin: -60px 15px 0px!important;
  }
}

@media (max-width: 575px) {
  .imgRounded0 {
    border-radius: 0!important;
  }
}

.icon-jump {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 88%, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 88%, 0);
  }
}
//
//.fadeInDown {
//  -webkit-animation-name: fadeInDown;
//  animation-name: fadeInDown;
//}