.m-0 {
  margin: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mr-0 {
  margin-right: 0!important;
}

.mr-1 {
  margin-right: 1em!important;
}

.mr-2 {
  margin-right: 2em!important;
}

.mr-3 {
  margin-right: 3em!important;
}

.ml-1 {
  margin-left: 1em!important;
}

.p-0 {
  padding: 0!important;
}

.px-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.pl-0 {
  padding-left: 0!important;
}

.pr-0 {
  padding-right: 0!important;
}

.d-none {
  display: none!important;
  color: rebeccapurple!important;
}

.icon-jump {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 88%, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 88%, 0);
  }
}
//
//.fadeInDown {
//  -webkit-animation-name: fadeInDown;
//  animation-name: fadeInDown;
//}

.get-in-touch {
  background: transparent!important;
  box-shadow: none!important;
  color: white!important;
  padding-right: 50%!important;
}

.home-container-mobile {
  //box-shadow: none!important;
}

.container-mobile {
  margin: -30px 30px 0px!important;
  //margin: 0 10px 0!important;
}

.containerMaxContent {
  max-width: max-content!important;
}

.containerMaxWidthInherit {
  max-width: inherit!important;
}

.home-page-portfolio-item {
  text-align: center;
  //padding-left: 5px!important;
  //padding-right: 5px!important;
  margin-top: 0!important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pl-0-portfolio-item {
  padding-left: 0!important;
}

.pr-0-portfolio-item {
  padding-right: 0!important;
}

.css-yrspe, .react-images__positioner {
  z-index: 8888!important;
}

main.react-images__pager {
  touch-action: none!important;
}

.liverka {
  margin-top: 30px;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 2px;
}

.liverka .react-photo-gallery--gallery img:hover {
  cursor: zoom-in!important;
}

.react-logo {
  animation: react-logo-spin infinite 8s linear;
  height: 20px;
  pointer-events: none;
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-link, .react-link:hover, .react-link:visited {
  color: #61dafb;
}

/*header->order button*/
.buttonOrder {
  box-shadow: none!important;
  background: hsla(0,0%,100%,.2)!important;
}

.buttonOrder:hover {
  box-shadow: none!important;
  background: hsla(0,0%,100%,.3)!important;
}

/*contact, order modal->form*/
.contactInput div {
  //margin-bottom: 3px!important;
}

.customDropdownLanguage span {
  color: inherit!important;
}

//.customDropdownLanguage span span {
//  color: inherit!important;
//}

.customDropdownLanguage .material-icons {
  font-size: 20px!important;
  //margin: 0!important;
}

@media (max-width: 959px) {
  .home-container-mobile {
    margin: 0 15px 0!important;
    //box-shadow: none!important;
  }
  .container-mobile {
    margin: -30px 15px 0!important;
  }
  .get-in-touch {
    padding-right: 0!important;
  }
  .parallaxAboutPage {
    height: 130px!important;
  }
  .home-page-portfolio-item {
    margin-top: 30px!important;
    padding: 0!important;
  }
  .home-page-portfolio-item:first-child {
    margin-top: 0!important;
  }
  .portfolioSection-mobile {
    padding-left: 8px!important;
    padding-right: 8px!important;
  }
  .mobile-d-none {
    display: none!important;
  }
}

@media (min-width: 960px) {
  .desktop-d-none {
    display: none!important;
  }
}

@media (max-width: 575px) {
  .imgRounded0 {
    border-radius: 0!important;
  }
}

/*Services*/
.cardService {
  background: none!important;
  color: white!important;
  box-shadow: none!important;
  margin-top: 5px!important;
  margin-bottom: 0!important;
}

.cardServiceHeader {
  background: none!important;
  box-shadow: none!important;
  margin-bottom: 0px!important;
}

.cardService:hover {
  background: rgba(255, 255, 255, 0.77)!important;
  color: rgba(0, 0, 0, 1)!important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12)!important;
  .cardServiceHeader {
    color: rgba(0, 0, 0, 1)!important;
  }
}

.home-txt {
  margin-top: 50px!important;
  margin-bottom: 50px!important;
  color: #767676!important;
  font-weight: 100!important;
}

.mt-30px {
  margin-top: 30px!important;
}

.pt-80px {
  padding-top: 80px!important;
}

@keyframes myAnim {
  to {
    transform: translateX(13px);
  }
}

.iconArrowForward {
  margin-right: 0!important;
  margin-left: 5px;
}

.customModal {
  margin: 15px!important;
  border-radius: 8px!important;
  max-width: 800px!important;
}

.customModal form {
  margin-bottom: 0;
}

.customModal h4 {
  font-weight: 700;
}

.customModal p {
  color: #767676;
  margin-bottom: 0;
}

/*waves*/
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  //bottom: -1px;
  //background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bgTop {
  z-index: 15;
  opacity: 0.35;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.7;
}
.bgBottom {
  z-index: 5;
  opacity: 0.35;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 150px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
/*/waves*/
@media (max-width: 767px) {
  .bgTop {
    opacity: 0.1;
  }
  .bgMiddle {
    opacity: 0.4;
  }
  .bgBottom {
    opacity: 0.8;
  }
  .waveTop {
    background-size: 50% 120px;
  }
  .waveMiddle {
    background-size: 50% 130px;
  }
  .waveBottom {
    background-size: 50% 100px;
  }
}

.btn-big {
  min-width: 195px!important;
}

@media (min-width: 768px) {
  .btn-big {
    min-width: 213px!important;
  }
}

/*gallery img fix*/
@media (max-width: 515px) {
  .react-photo-gallery--gallery div img {
    width: 100%;
  }
}

@media (min-width: 516px) and (max-width: 915px) {
  .react-photo-gallery--gallery div img {
    width: 50%;
  }
}

@media (min-width: 916px) and (max-width: 1519px) {
  .react-photo-gallery--gallery div img {
    width: 33.3%;
  }
  .react-photo-gallery--gallery div img:nth-child(3n) {
    width: 33.4%!important;
  }
}

.info-area {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 8px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 100%;
  text-align: center;
}

.info-area .info-area__description {
  padding: 0 30px 20px;
}

.info-area .info-area__icon {
  padding-top: 60px;
}

.py-15px {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.ReactModal__Body--open {
  overflow: hidden;
}

$year-in-second : 30; // 1 Earth year = 30 sec

@function revolution($pl-year-in-days){
  @return $pl-year-in-days * $year-in-second / 365.2563 + s  //Earth reference
}
@function alphaRandom(){
  @return random(1000)*.001;
}
@function stars($s, $max-area, $min-area : 0, $star-size : 0){
  $stars : #{$min-area + random($max-area)}px #{$min-area + random($max-area)}px 0 #{$star-size}px rgba(255,255,255, alphaRandom());
  @for $i from 1 to $s{
    $stars: '#{$stars} , #{$min-area + random($max-area)}px #{$min-area + random($max-area)}px 0 #{$star-size}px rgba(255,255,255, #{alphaRandom()})'
  }
  @return unquote($stars);
}

$sun: 40px;
$mercury-orb : 70px; $mercury-pl: 4px;
$venus-orb : 100px; $venus-pl: 8px;
$earth-orb : 145px; $earth-pl: 6px;
$mars-orb : 190px; $mars-pl: 6px;
$jupiter-orb : 340px; $jupiter-pl: 18px;
$saturn-orb : 440px; $saturn-pl: 12px;
$uranus-orb : 520px; $uranus-pl: 10px;
$neptune-orb : 630px; $neptune-pl: 10px;
$pluto-orb : 780px; $pluto-pl: 3px;

$asteroids-belt-orb : 300px; $asteroids-belt-pl: 210px;

.dis-solar-syst {
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment:fixed;
}

.solar-syst{
  &:after{
    content:"";
    position:absolute;
    height:2px;
    width:2px;
    top:-2px;
    background:white;
    box-shadow: stars(500, 1800);
    border-radius:100px;
  }
  margin:0 auto;
  width:100%;
  height:100%;
  position:absolute;
  margin-left: 15%;
  div{
    border-radius:1000px;
    top:50%;
    left:50%;
    position:absolute;
    z-index:999;
    &:not(.sun){
      border: 1px solid rgba(102, 166, 229, 0.12);
      &:before{
        left:50%;
        border-radius:100px;
        content:"";
        position:absolute;
      }
    }
    &:not(.asteroids-belt){
      &:before{
        box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.sun{
  background:radial-gradient(ellipse at center, #ffd000 1%,#f9b700 39%,#f9b700 39%,#e06317 100%);
  height:$sun;
  width:$sun;
  margin-top: -$sun / 2;
  margin-left: -$sun / 2;
  background-clip: padding-box;
  border:0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury{
  height: $mercury-orb;
  width: $mercury-orb;
  margin-top: -$mercury-orb / 2;
  margin-left: -$mercury-orb / 2;
  animation: orb revolution(87.5) linear infinite;
  &:before{
    height:$mercury-pl;
    width:$mercury-pl;
    background: #9f5e26;
    margin-top: -$mercury-pl / 2;
    margin-left: -$mercury-pl / 2;
  }
}

.venus{
  height: $venus-orb;
  width: $venus-orb;
  margin-top: -$venus-orb / 2;
  margin-left: -$venus-orb / 2;
  animation: orb revolution(224.7) linear infinite;
  &:before{
    height:$venus-pl;
    width:$venus-pl;
    background:#BEB768;
    margin-top: -$venus-pl / 2;
    margin-left: -$venus-pl / 2;
  }
}

.earth{
  height: $earth-orb;
  width: $earth-orb;
  margin-top: -$earth-orb / 2;
  margin-left: -$earth-orb / 2;
  animation: orb revolution(365.2563) linear infinite;
  &:before{
    height:$earth-pl;
    width:$earth-pl;
    background:#11abe9;
    margin-top: -$earth-pl / 2;
    margin-left: -$earth-pl / 2;
  }
  &:after{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 50%;
    top: 0px;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 100px;
    box-shadow: 0 -10px 0 -8px grey;
    animation: orb revolution(27.3216) linear infinite;
  }
}
.mars{
  height: $mars-orb;
  width: $mars-orb;
  margin-top: -$mars-orb / 2;
  margin-left: -$mars-orb / 2;
  animation: orb revolution(687) linear infinite;
  &:before{
    height:$mars-pl;
    width:$mars-pl;
    background:#cf3921;
    margin-top: -$mars-pl / 2;
    margin-left: -$mars-pl / 2;
  }
}

.jupiter{
  height: $jupiter-orb;
  width: $jupiter-orb;
  margin-top: -$jupiter-orb / 2;
  margin-left: -$jupiter-orb / 2;
  animation: orb revolution(4331) linear infinite;
  &:before{
    height:$jupiter-pl;
    width:$jupiter-pl;
    background:#c76e2a;
    margin-top: -$jupiter-pl / 2;
    margin-left: -$jupiter-pl / 2;
  }
}
.saturn{
  height: $saturn-orb;
  width: $saturn-orb;
  margin-top: -$saturn-orb / 2;
  margin-left: -$saturn-orb / 2;
  animation: orb revolution(10747) linear infinite;
  &:before{
    height:$saturn-pl;
    width:$saturn-pl;
    background:#e7c194;
    margin-top: -$saturn-pl / 2;
    margin-left: -$saturn-pl / 2;
  }
  &:after{
    position: absolute;
    content: "";
    height: 2.34%;
    width: 4.676%;
    left: 50%;
    top: 0px;
    transform: rotateZ(-52deg);
    margin-left: -2.3%;
    margin-top: -1.2%;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
    animation: orb revolution(10747) linear infinite;
    animation-direction: reverse; // compensate to reverse main orbit animation
    transform-origin: 52% 60%;
  }
}

.uranus{
  height: $uranus-orb;
  width: $uranus-orb;
  margin-top: -$uranus-orb / 2;
  margin-left: -$uranus-orb / 2;
  animation: orb revolution(30589) linear infinite;
  &:before{
    height:$uranus-pl;
    width:$uranus-pl;
    background:#b5e3e3;
    margin-top: -$uranus-pl / 2;
    margin-left: -$uranus-pl / 2;
  }
}

.neptune{
  height: $neptune-orb;
  width: $neptune-orb;
  margin-top: -$neptune-orb / 2;
  margin-left: -$neptune-orb / 2;
  animation: orb revolution(59802) linear infinite;
  &:before{
    height:$neptune-pl;
    width:$neptune-pl;
    background:#175e9e;
    margin-top: -$neptune-pl / 2;
    margin-left: -$neptune-pl / 2;
  }
}

.asteroids-belt{
  opacity:.7;
  border-color: transparent !important;
  height: $asteroids-belt-orb;
  width: $asteroids-belt-orb;
  margin-top: -$asteroids-belt-orb / 2;
  margin-left: -$asteroids-belt-orb / 2;
  animation: orb revolution(2191) linear infinite;
  overflow:hidden;
  &:before{
    top:50%;
    height:$asteroids-belt-pl;
    width:$asteroids-belt-pl;
    margin-left: -$asteroids-belt-pl / 2;
    margin-top: -$asteroids-belt-pl / 2;
    background: transparent;
    border-radius:140px !important;
    box-shadow: stars(390, 290, -290/2, -104);
  }
}

.pluto{
  height: $pluto-orb;
  width: $pluto-orb;
  margin-top: -$pluto-orb / 2 + -60;
  margin-left: -$pluto-orb / 2 + 70;
  animation: orb revolution(90580) linear infinite;
  &:before{
    height:$pluto-pl;
    width:$pluto-pl;
    background:#fff;
    margin-top: -$pluto-pl / 2;
    margin-left: -$pluto-pl / 2;
  }
}

.hide{
  display:none;
}
.links{
  margin-top:5px !important;
  font-size:1em !important;
}

@keyframes orb{
  from {
    transform:rotate(0deg)
  }
  to{
    transform:rotate(-360deg)
  }
}